@charset "UTF-8";

@font-face {
    font-family: 'fonteandroid';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #84E1AD;
    margin: 0px;
}

header {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #1F6E41, #247D4B, #2DA060, #3AD17E);
    height: 145px;
}

header > nav {
    background-color: #1A5C38;
    padding: 5px;
}
header > nav > a {
    text-decoration: none;
    color: white;
    padding-right: 5px; 
}
header>p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    color: white;
}

header > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    color: white;
    margin: 0px;
    
}
h1, h2 {
    font-family: 'fonteandroid', Arial, sans-serif;
    font-weight: normal;
    color: #2A6746;
}
main {
    background-color:white;
    width: 100vw; 
    height: 100vh;
    justify-content: center;
    align-items: center; 
}
main > h1{
    margin: 0px;
}
#videoMain {
    background: #1A5C38;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    background-color: #1A5C38;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}