@charset "UTF-8";

/*
    em HTML é id = em CSS é # (só pode um elemento com mesmo ID em uma página HTML)
    em HTML é class= em CSS é . (pode vários elementos com a mesma classe)
*/
body {
    background-color: rgb(194, 248, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(73, 109, 71);
}

.basico {
    color: rgb(4, 109, 0);
    font-weight: bold;
}

.intermediario {
    color: rgb(109, 105, 0);

}

.avancado {
    color: rgb(109, 2, 0);
}

.destaque {
    background-color: #c5c56070;
}